__pycache__/
.ipynb_checkpoints/
# data/
imgs/
images/
old/
logs/
configs/
models/detr/
slask/
checkpoints/

# Extensions
*.pyc
*.dcm
*.xlsx
*.pkl
*.bin
*.csv
*.json
*.ckpt
*.yml
*.ISQ
*.ISQ:1

# Files
test.py